* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../src/assets/foto.png'); /* Substitua pela URL da sua imagem */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.months-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  justify-items: center;
}

.month-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.month-card:hover {
  background-color: #00065a;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  color: #ffffff;
}

.events-list {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.events-list h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.event-accordion {
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.event-summary {
  padding: 15px;
  font-size: 1.1rem;
  background-color: #e6e6e6;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease;
}

.event-summary:hover {
  background-color: #d9d9d9;
}

.event-details {
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .months-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .month-card {
    padding: 15px;
    max-width: 200px;
  }

  .event-summary {
    font-size: 1rem;
  }

  .events-list {
    padding: 15px;
  }
}
